.bigbox {
    background-color: black;
    height: 100vh;
    background-image: url(../img/diablo-crow-town-bloodborne-wallpaper-dc1028feb8410b10a81258826831d122.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.col-height {
    height: 50vh;
}

/* DEVIL AREA  */

.hellsquare {
    height: 30vh;
}

.devilimg {
    display: none;
}

/* CENTER AREA */

.title {
    font-family: "blackdemon";
    font-size: xx-large;
    text-shadow: 2px 0 rgb(197, 50, 5), -2px 0 rgb(197, 50, 5), 0 2px rgb(197, 50, 5), 0 -2px rgb(197, 50, 5),
               1px 1px rgb(197, 50, 5), -1px -1px rgb(197, 50, 5), 1px -1px rgb(197, 50, 5), -1px 1px rgb(197, 50, 5);
    margin-bottom: 0.25em;
}

/* Boardgame */

.boardttt {
    background-color: rgba(240, 248, 255, 0.466);
    height: 15em;
    width: 15em;
    border-radius: 10px;
    /* padding-left: 2vw;
    padding-right: 2vw; */
    display: grid;
    grid-template-columns: repeat(3, auto);
}

.underboard {
    display: flex;
    justify-content: center;
    align-items: center;
}

.boardcell {
    height: 5em;
    width: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    cursor: pointer;
}

.boardgif {
    height: 5em;
}

.spacebox {
    display: none;
}

/* PALADIN AREA */

.heavensquare {
    height: 30vh;
}

.paladinimg {
    display: none;
}

/* MEDIA QUERYS */

@media (min-width: 576px) {

    .boardttt {
    height: 21em;
    width: 21em;
    }

    .boardcell {
    height: 7em;
    width: 7em;
    }

    .boardgif {
    height: 7em;
    
    }

}

@media (min-width: 768px) {

    .heavensquare {
    height: 40vh;
    }

    .hellsquare {
    height: 40vh;
    }

    .title {
        font-size: 50px;
    }

}

@media (min-width: 992px) {

    .title {
        font-size: 50px;
    }

    .col-height {
        height: 100vh;
        flex-direction: column;
        justify-content: space-between;
    }

    .devilimg {
        display: block;
        height: 60vh;
    }

    .devilimg1 {
        height: 70vh;
        position: absolute;
        bottom: 0;
        left: 5vh;
    }

    .paladinimg {
        display: block;
        height: 60vh;
    }

    .paladinimg1 {
        height: 70vh;
        position: absolute;
        bottom: 0;
        right: 0vh;
    }
    
    .col-center {
        height: 100vh;
    }

    .boardttt {
        height: 30em;
        width: 30em;
        }
    
    .boardcell {
        height: 10em;
        width: 10em;
        z-index: 10;
    }

    .boardgif {
        position: absolute;
        z-index: 9;
        height: 10em;
    }

    .spacebox {
        display: block;
        height: 15vh;
    }
    
    .col-right {
        height: 100vh;
    }

    .heavensquare {
    height: 30vh;
    }

    .hellsquare {
    height: 30vh;
    }

}

@media (min-width: 1400px) {

    .title {
        font-size: 85px;
    }

    .devilimg1 {
        left: 20vh;
    }

    .paladinimg1 {
        right: 10vh;
    }

    .heavensquare {
        height: 40vh;
    }
    
    .hellsquare {
        height: 40vh;
    }

}

/* FONTS */

@font-face {
    font-family: 'blackdemon';
    src: url(../fonts/Black\ Demon.ttf) format('truetype');
    font-style: normal;
    font-weight: bolder;
  }

  @font-face {
    font-family: 'mephisto';
    src: url(../fonts/Fiolex_Mephisto_Dingbats.ttf) format('truetype');
    font-style: normal;
    font-weight: bolder;
  }