.bigbox {
    background-color: black;
    height: 100vh;
    background-image: url(../img/diablo-crow-town-bloodborne-wallpaper-dc1028feb8410b10a81258826831d122.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.col-height {
    height: 50vh;
}

/* DEVIL AREA  */

.frameworkdevil {
    color: black;
    text-shadow: 2px 0 rgb(197, 50, 5), -2px 0 rgb(197, 50, 5), 0 2px rgb(197, 50, 5), 0 -2px rgb(197, 50, 5),
               1px 1px rgb(197, 50, 5), -1px -1px rgb(197, 50, 5), 1px -1px rgb(197, 50, 5), -1px 1px rgb(197, 50, 5);
}

#player1 {
    font-size: x-large;
    color: rgb(197, 50, 5);
    text-shadow: 4px 0 black, -4px 0 black, 0 4px black, 0 -4px black,
               1px 1px black, -1px -1px black, 1px -1px black, -1px 1px black;
    margin-bottom: 0.5em;
}

.hellsquare {
    height: 30vh;
    position: absolute;
}

.devilimg {
    display: none;
}

.audioControls {
    opacity: 20%;
    width: 15vh;
    position: absolute;
    bottom: 0;
    z-index: 6;
    left: 0;
}

/* CENTER AREA */

.title {
    font-family: "blackdemon";
    font-size: xx-large;
    text-shadow: 2px 0 rgb(197, 50, 5), -2px 0 rgb(197, 50, 5), 0 2px rgb(197, 50, 5), 0 -2px rgb(197, 50, 5),
               1px 1px rgb(197, 50, 5), -1px -1px rgb(197, 50, 5), 1px -1px rgb(197, 50, 5), -1px 1px rgb(197, 50, 5);
    margin-bottom: 0.25em;
}

/* Boardgame */

.boardttt {
    background-color: rgba(240, 248, 255, 0.466);
    height: 15rem;
    width: 15rem;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(3, auto);
}

.boardflicker {
    background-color: rgba(139, 0, 0, 0.541);

    animation-name: parpadeo;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

    -webkit-animation-name:parpadeo;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
}

@-moz-keyframes parpadeo{  
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

@-webkit-keyframes parpadeo {  
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
   100% { opacity: 1.0; }
}

@keyframes parpadeo {  
  0% { opacity: 1.0; }
   50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

.boardflicker2 {
    background-color: rgba(109, 255, 255, 0.425);

    animation-name: parpadeo2;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

    -webkit-animation-name:parpadeo2;
    -webkit-animation-duration: 2s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
}

@-moz-keyframes parpadeo2{  
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

@-webkit-keyframes parpadeo2 {  
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
   100% { opacity: 1.0; }
}

@keyframes parpadeo2 {  
  0% { opacity: 1.0; }
   50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

.underboard {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "mephisto";
}

.boardcell {
    height: 5rem;
    width: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    cursor: pointer;
    font-size: 3rem;
}

.boardgif {
    height: 5rem;
}

.spacebox {
    
}

.selectbtn {
    background-color: black;
    height: 3em;
    width: 40vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px; 
    font-family: "seagram";
    color: white;
    cursor: pointer;
    position: absolute;
    bottom: -1.2em;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 4;
}

.selectbtn:hover {
    /* transform: scale(1.1); */
    box-shadow: 10px 10px 40px darkred, -10px -10px 40px darkred;
}

.pentagramgif {
    height: 3em;
}

/* PALADIN AREA */

.framework {
    position: relative;
    /* background-color: aliceblue; */
    height: 30vh;
    width: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: medium;
    font-family: "Seagram";
}

#marcadorTurnoP1 {
    margin-bottom: 0.25em;
}

#fichasp1 {
    margin-bottom: 0.25em;
}

.frameworkpala {
    color: black;
    text-shadow: 2px 0 aqua, -2px 0 aqua, 0 2px aqua, 0 -2px aqua,
               1px 1px aqua, -1px -1px aqua, 1px -1px aqua, -1px 1px aqua;
}

#player2 {
    font-size: x-large;
    color: aqua;
    text-shadow: 4px 0 black, -4px 0 black, 0 4px black, 0 -4px black,
               1px 1px black, -1px -1px black, 1px -1px black, -1px 1px black;
    margin-bottom: 0.5em;
}

#marcadorTurnoP2 {
    margin-bottom: 0.25em;
}

#fichasp2 {
    margin-bottom: 0.25em;
}

.heavensquare {
    height: 30vh;
    position: absolute;
}

.paladinimg {
    display: none;
}

/* MEDIA QUERYS */

@media (min-width: 576px) {

    .boardttt {
    height: 21em;
    width: 21em;
    }

    .boardcell {
    height: 7rem;
    width: 7rem;
    }

    .boardgif {
    height: 7rem;
    }

    .framework {
        font-size: large;
    }

    #player1 {
        font-size: xxx-large;
    }

    #player2 {
        font-size: xxx-large;
    }

    .selectbtn {
        width: 25vw;
    }

}

@media (min-width: 768px) {

    .frameworkdevil {
        height: 40vh;
        width: 40vh;
    }

    .hellsquare {
        height: 40vh;
    }

    .frameworkpala {
        height: 40vh;
        width: 40vh;
    }

    .heavensquare {
        height: 40vh;
    }
    
    .title {
        font-size: 50px;
    }

    .framework {
        font-size: xx-large;
    }

    .selectbtn {
        width: 20vw;
    }

}

@media (min-width: 992px) {

    .title {
        font-size: 50px;
    }

    .col-height {
        height: 100vh;
        flex-direction: column;
        justify-content: space-between;
    }

    .devilimg {
        display: block;
        height: 60vh;
    }

    .devilimg1 {
        height: 70vh;
        position: absolute;
        bottom: 0;
        left: 5vh;
    }

    .paladinimg {
        display: block;
        height: 60vh;
    }

    .paladinimg1 {
        height: 70vh;
        position: absolute;
        bottom: 0;
        right: 0vh;
    }
    
    .col-center {
        height: 100vh;
    }

    .boardttt {
        height: 30rem;
        width: 30rem;
        }
    
    .boardcell {
        height: 10rem;
        width: 10rem;
        z-index: 10;
        font-size: 5rem;
    }

    .boardgif {
        position: absolute;
        z-index: 9;
        height: 10em;
    }

    .spacebox {
        display: block;
        height: 15vh;
    }
    
    .col-right {
        height: 100vh;
    }

    .frameworkdevil {
        height: 30vh;
        width: 30vh;
    }

    .hellsquare {
        height: 30vh;
    }

    .frameworkpala {
        height: 30vh;
        width: 30vh;
    }

    .heavensquare {
            height: 30vh;
    }

    .framework {
        font-size: large;
    }

    .selectbtn {
        width: 15vw;
    }

}

@media (min-width: 1400px) {

    .title {
        font-size: 85px;
    }

    .devilimg1 {
        left: 20vh;
    }

    .paladinimg1 {
        right: 10vh;
    }

    .frameworkdevil {
        height: 40vh;
        width: 40vh;
    }

    .hellsquare {
            height: 40vh;
    }
    
    .frameworkpala {
        height: 40vh;
        width: 40vh;
    }

    .heavensquare {
        height: 40vh;
    }

    #player1 {
        font-size: xxx-large;
    }

    #player2 {
        font-size: xxx-large;
    }

    .framework {
        font-size: xx-large;
    }

    .selectbtn {
        width: 10vw;
    }

}

/* FONTS */

@font-face {
    font-family: 'blackdemon';
    src: url(../fonts/Black\ Demon.ttf) format('truetype');
    font-style: normal;
    font-weight: bolder;
  }

@font-face {
    font-family: 'mephisto';
    src: url(../fonts/Fiolex_Mephisto_Dingbats.ttf) format('truetype');
    font-style: normal;
    font-weight: bolder;
}

@font-face {
    font-family: 'seagram';
    src: url(../fonts/Seagram\ tfb.ttf) format('truetype');
    font-style: normal;
    font-weight: bolder;
}